<div id="signup-page" class="row">
	<div class="col-md-6">

		<%= bootstrap_form_tag url: '/login' do |f| %>
		<%= f.text_field :email, placeholder:'email' %>
		<%= f.password_field :password, placeholder:'email'%>
		<%= f.submit "Log In" %>
		<% end %>
	</div>

	<div class="col-md-6">

		<%= bootstrap_form_for(@user) do |f| %>
		<%= f.text_field :email, placeholder:'email' %>
		<%= f.password_field :password, placeholder: 'password' %>

		<%= f.submit "Sign Up" %>
		<% end %>
	</div>
</div>